<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<% include ./component/link.ejs %>
  </head>
  <body>
  	<% include ./component/navbar.ejs %>
	<div class="container" style="margin-top: 10%;">
	</div>
  </body>
</html>
