<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<% include ./component/link.ejs %>
  </head>
  <body>
  	<% include ./component/navbar.ejs %>
	<div class="container" style="margin-top: 10%;">
	  <div class="text-center">
		<% if(message.length > 0) {%>
			<div class= "alert alert-primary"><%= message %></div>
		<% } %>
		<h2>
			Search
		</h2>	  
		<p>
			this is search. hello search!
		</p>
		<form action="/search" method="post" enctype="multipart/form-data">
			<input type="file" name="userfile" required></input>
			<input type="submit"></input>
		</form>
	  	<a href='/search/index'>Show Index</a>
	  </div>
	</div>
  </body>
</html>
