<div class="login-form">
<div class="main-div">
   <div class="panel">
	   <h2>ChatMirror Login</h2>
	   <p>Please enter your email and password</p>
   </div>
	<form id="Login" action="/login" method="post">
        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="email" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
        </div>
        <div>
        	<a href="/signup">Don't you have account?</a>
		</div>
        <button type="submit" name="submit" class="btn btn-primary">Login</button>
     </form>
	</div>
</div>
</div>